::-webkit-scrollbar {
    width: 8px; 
    height: 5px;
    background-color: rgb(39, 39, 39);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(155, 93, 255);
    border-radius: 10px;
    box-shadow: 0 0 5px 0px rgb(155, 93, 255);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(118, 71, 194);
}
body{
    margin: auto;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    max-width: 1500px;
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    background: rgb(39, 39, 39);
}
.header{
    display: flex;
    justify-content: center;
    margin: auto;
}
h1{
    margin: auto;
    cursor:default ;
    color: rgb(194, 194, 194);
    font-size: 72px;
    font-weight: bold;
    transition: .5s;
}
h1:hover{
    text-shadow: 0 0 15px white;
    transition: .5s;
    
}
.App{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: auto;
}
.notesCard{
    background: rgb(156, 156, 156);
    margin: 25px;
    width: 400px;
    max-height: 450px;
    border-radius: 20px;
    padding-top: 7px;
    transition: 1s;
}
.notesHeader{
    font-size: 42px;
    color: rgb(26, 26, 26);
    padding-left: 30px;
    font-weight: bold;
}
.data{
    background: rgb(14, 14, 14);
    font-size: 24px;
    color: rgb(204, 204, 204);
    padding: 2px 2px 2px 30px;
    font-weight: bold;
    margin-top: 5px;
}
.lorem{
    font-size: 24px;
    color: rgb(26, 26, 26);
    padding: 15px 30px 30px 20px;
    font-weight: 300;
}